body {
	font-size: 9pt;
	line-height: 1.5em;
	font-family: "freight-sans-pro","Myriad Pro","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
	color: #2d2d2d;
	padding: 52px 64px;
}
p {
	margin: 12px 0px;
}
a {
	color: #000;
}
a:hover {
	text-decoration: none;
}
h1 {
	line-height: 1.1em;
	margin: 12px 0px;
}
h1 {
	font-size: 14px;
}
ul {
	padding-left: 0px;
}
li {
	list-style-type: none;
}
